window#waybar {
    /* Could use normal Terminus but it's kinda thick */
    font-family: Ubuntu;
    color: white;
    background-color: black;
    font-size: 18px;
}
#tags button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    padding-left: 4px;
    padding-right: 4px;
}
#tags button.occupied {
    box-shadow: inset 0 -3px gray;
    color: darkgray;
}
#tags button.focused {
    box-shadow: inset 0 -3px yellow;
    color: white;
}
#tags button.urgent {
    box-shadow: inset 0 -3px red;
}
#tags button:hover {
    color: black;
}
#clock {
    margin-left: 5px;
    margin-right: 5px;
}
#mpris {
    margin-right: 5px;
    margin-left: 5px;
}
#tray {
    margin-right: 10px;
    margin-left: 5px;
}
